body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1 {
	color: white;
	line-height: 1.1;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}


#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	color: white;
	background: steelblue;
}

#colorDisplay {
	font-size: 200%;
}

.navBtn {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

.txtBtn {
	border: none;
	background: none;
	color: rgb(200, 200, 200);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
	font-family: "Montserrat";
}

#message {
	display: inline-block;
	width: 20%;
}

.navBtn:hover {
	color: white;
	background: steelblue;
}

.txtBtn:hover {
	text-decoration: underline;
}


.footer {
	margin: 0;
	text-align: right;
	width: 97% !important;
	float: left;
	font-size: 13px !important;
	height: 22px !important;
	color: rgb(200, 200, 200) !important;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;

}

.howPlay {
	padding: 60px 20px;
	color: #232323;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	text-align: center;
}

a:visited {
	color: rgb(175, 175, 175);
}

a:link {
	color: rgb(175, 175, 175);
}