/* FRAMEWORK ELEMENTS */

#body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #eee;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    background-color: #fff;
}

/* DIVISIONAL ELEMENTS */

header {
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/bg7.jpg'); */
    background-size: cover;
    background-position: center;
}

.row {
    max-width: 100%;
    margin: 0 auto;
}

.headline {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headline_text {
    margin-left: 50px;
}

.headline_btns {
    margin-top: 47px;
    float: right;
    max-width: 380px;
    text-align: right;
    
}

/* TYPOGRAPHICAL ELEMENTS */

header h1, 
header h2 {
    margin: 0, auto;
    padding-left: 8%;
    letter-spacing: 2px;
}

header h1 {
    font-size: 4.0em;
    letter-spacing: 12px;
}

header h2 {
    font-size: 1.6em;
}

nav i {
    font-size: 1.8em;
}

/* FUNCTIONAL ELEMENTS */

.headline a {
    margin-right: 60px;
    letter-spacing: 6px;
}

.headline a:link,
.headline a:visited {
    font-size: 1.6em;
    padding: 10px;
    margin: 12px;
    display: inline-block;
    border: 3px solid #16a085;
    color: #16a085;
    border-radius: 20px;
    text-decoration: none
}

.headline a:hover,
.headline a:active {
    background-color: #16a085;
    color: #111;
    transition: background-color 0.2s, color 0.2s;
}

/* NAVBAR ELEMENTS */

.row h3 {
    float: left;
    padding-left: 30px;
    letter-spacing: 4px;
}

.navbar_links {
    float: right;
    list-style: none;
}

.navbar_links li {
    display: inline-block;   
}

#body .navbar_links a,
#body .navbar_links a:visited {
    margin-right: 20px;
    padding: 16px;
    color: #eee;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}

#body .navbar_links a:hover,
#body .navbar_links a:active {
    background-color: #16a085;
    transition: background-color 0.3s;
}

/* DROPDOWN ELEMENTS */

#body .login_dropdown {
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 5px;
    color: #222;
    width: 20vw;
    padding: 6px;
}

#body .login_dropdown input {
    width: 100%;
    padding: 0 5px;
}

#body .dropdown_link {
    text-align: center;
    color: #16a085;
}